.container {
    max-width: 1020px;
    margin: 50px auto;
}
.cinema-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* justify-content: center; */
    padding: 20px;
    
}
.cinema-item {
    width: 320px;
    height: 220px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    background-size: cover;
    background-position: center;
    padding: 30px 50px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
   
    

}
.cinema-item:hover{
    transform: scale(1.03);
}

.cinema__info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    padding-left: 50px;
    padding-bottom: 30px;
    
    background: rgba(0, 0, 0, 0.6);
    color: white;
    transition: background 0.3s ease;
    border-radius: 70px;
}
.cinema-item h2{
    font-size: 20px;
}
.cinema-item p{
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #ddd;
}
.cinema__btn {
    padding: 5px 10px;
    background: none;
    border-radius: 5px;
    border: white 1px solid;
    transition: transform 0.3s ease-in-out;
    color: white;
}
.cinema__btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}