<div class="container">
    <section id="movies">
        <div class="movie-list">
            <div class="movie-card" *ngFor="let movie of movies">
                <div class="img__part">
                    <img [src]="movie.image_url" alt="">
                    <div class="overlay">
                        <button class="buy__btn" (click)="goToDetail(movie.id)" >Buy Ticket</button>
                    </div>
                </div>
                
                <h2>{{movie.title}}</h2>
                <div class="text__year"><p>{{movie.release_year}}</p></div>
                
            </div>
        </div>
    </section>
</div>
