<div class="container">
    <section id="movie-detail">
        <div *ngIf="movie" class="movie__detail">
            <div class="movie__img">
                <img [src]="movie.image_url" alt="">
            </div>
            <div class="movie__info">
                <p *ngIf="loading">Loading</p>
                <h1>{{movie.title}}</h1>
                <hr>
                <p><strong>Release year: </strong>{{movie.release_year}}</p>
                <p><strong>Genre: </strong>{{movie.genre}}</p>
                <p>{{movie.description}}</p>
            </div>
        </div>
    </section>
    <section id="booking">
        <div class="screenings-list" >
            <div class="screening__item" *ngFor="let screening of upcomingScreenings">
                <div class="screening__timedate">
                    <div class="screening__time">
                        <h2>{{screening.time}}</h2>
                    </div>
                    <div class="screening__date">
                        <h2>{{screening.date}}</h2>
                    </div>
                </div>
                <div class="screening__info">
                    <div class="screening__location">
                        <h2>{{ getCinemaName(screening.cinemaId) }}</h2>
                    </div>
                    <div class="screening__btn">
                        <button (click)="goToBooking(screening.id)">Book ticket</button>
                    </div>
                </div>
                

            </div>
        </div>
    </section>
</div>