.nav{
    border-bottom: 1px solid #d9dad7;
    padding: 30px;
    /* padding-bottom: 30px; */
    /* background-color:rgb(179, 204, 249); */
   


}

.nav a{
    text-decoration: none;
    font-size: 24px;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.home__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    color: black;


}
.home__link a{
    
}
.home__link img{
    width: 48px;
    padding-right: 5px;
   
}
.nav__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
   
}
.nav__ticket{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__ticket a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 21px;
}
.nav__ticket a:hover{
    text-decoration: underline 1px black;
}
.nav__ticket a img{
    filter: brightness(0);
    padding-left: 10px;
    width: 24px;

}
.nav__text img{
    width: 28px;
    padding-right: 5px;
}

.log__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log__nav button{
    padding: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    font-size: 21px;
    margin-left: 10px;
}
.log__nav button img{
    width: 28px;
    padding-left: 10px;
}